<article class="post post-list" itemscope="" itemtype="https://schema.org/BlogPosting">
  <% 
  function Random(min, max) {
    return Math.ceil(Math.random() * (max - min)) + min;
  }
  cover_num = Random(1,26);/*[1,26],图片现在就是26张*/
  /* console.log(cover_num); */  //可以将结果打印在terminal上，而非网页console
  %>
  <div class="post-entry">
    <div class="feature">
      <a href="<%- url_for(post.path) %>">
        <div class="overlay">
          <i class="iconfont icon-text">
          </i>
        </div>
        <img width="150" height="150" src="<%= post.photos[0] + cover_num + '.png' %>" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" >
      </a>
    </div>
    <h1 class="entry-title">
    <a href="<%- url_for(post.path) %>">
    <%= post.title %></a>
    </h1>
    <div class="p-time">
      <i class="iconfont icon-time">
      </i>
    <%= date(post.date, 'YYYY-M-D') %></div>
    <p>
    <%= post.description %></p>
    <footer class="entry-footer">
      <div class="post-more">
        <a href="<%- url_for(post.path) %>">
          <i class="iconfont icon-caidan">
          </i>
        </a>
      </div>
    </footer>
  </div>
  <hr>
</article>